# OS
.DS_Store

# Node
node_modules/
dist/

# Laravel
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/app/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/